{% extends 'basic.html' %}

{% block title %}Contact Us - 24/7{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}

{% block navbar_name %}Contact Us{% endblock navbar_name %}

{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}
<BR>
    <h2 align="center"> Feel free to contact us 24/7</h2>
<BR>

{% endblock %}