{% extends 'basic.html' %}

{% block title %}Change Password{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}

{% block navbar_name %}User Profile{% endblock navbar_name %}

{% block body %}

<BR>
<h2 align = 'center'> Change your password</h2>
<BR>

    <div style="text-align: center; font-size: 20px; font-weight: bold;">
        <BR>
        <form action="/dashboard_change_password/" method="POST"> {% csrf_token %}
            <div class="form-group row mx-auto">
                <label for="staticEmail" class="col-sm-2 col-form-label">Your Email</label>
                <div class="col-sm-5">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="{{request.user.email}}">
                </div>
            </div>
            <div class="form-group row mx-auto">
                <label for="inputPassword" class="col-sm-2 col-form-label">Old Password</label>
                <div class="col-sm-5" style="text-align: left; font-size: 16px; font-weight: bold;">
                    <input type="password" class="form-control" placeholder="Old password" name="old_pass" required>
                    <a href="/forgotpassword/">Forgot password</a>
                </div>
            </div>
            <div class="form-group row mx-auto">
                <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" placeholder="New Password" name="new_pass" required>
                </div>
            </div>
            <div class="form-group row mx-auto">
                <label for="inputPassword" class="col-sm-2 col-form-label">Repeat Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" placeholder="Repeat New Password" name="new_pass2" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Change Password</button>
        </form>
    </div>

{% endblock body %}