<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login & Signup Form</title>
    
    {% load static %}
    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Forgot Password ?<br>No worries !</div>
      </div>
      <div class="form-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} 
                    style="text-align: center; color: orange;"> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="form-inner">
          <form action="/Handleforgotpass/" class="login" method="POST">{% csrf_token %}
            <div class="field" style="margin-top: 30px;">
              <input type="text" name="forgot_uname" placeholder="Email Address" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" href="" value="Forgot Password">
            </div>
            <div class="signup-link">Remember you password? <a href="/loginpage/">Back to login</a></div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });
    </script>

  </body>
</html>
