{% extends 'basic.html' %}

{% block title %}Index Page{% endblock title %}

{% block navbar_name %}Delete Event{% endblock navbar_name %}

{% block homeactive %}active{% endblock homeactive %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}

{% block body %}

<div style="text-align: center; font-size: 20px; font-weight: bold;">
    <BR>
    <form action="/delete_event/" method="POST"> {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Event Name</label>
            <select name="event_name" class="form-control col-sm-4 col-form-label">
                {% for i in event %}
                <option  value="{{i.event_name}}">{{i.event_name}} || {{i.event_date}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Delete this Event</button>
    </form>
</div>

{% endblock body %}