{% extends 'basic.html' %}

{% block title %}Index Page{% endblock title %}

{% block navbar_name %}Register Page{% endblock navbar_name %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}

{% block body %}
<div style="text-align: center; font-size: 20px; font-weight: bold;">
    <BR>
    <h2> Thank you for your Participation on: {{event_name}} </h2>
    <BR>
    <a href="/">Back to home</a><BR><BR>
</div>
{% endblock body %}