<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login & Signup Form</title>
    
    {% load static %}
    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Welcome Back !<br>Login to continue</div>
        <div class="title signup">Just a few steps !<BR>Signup Now</div>
      </div>
      <div class="form-container">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} 
                    style="text-align: center; color: orange;"> {{ message }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">

          <form action="login/" class="login" method="POST">{% csrf_token %}
            <div class="field" style="margin-top: 30px;">
              <input type="text" name="login_uname" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input type="password" name="login_pswd" placeholder="Password" required>
            </div>
            <div class="pass-link"><a href="/forgotpassword/">Forgot password?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" href="" value="Login">
            </div>

            <div class="signup-link">Not a member? <a href="">Signup now</a></div>
            <div class="signup-link">Don't want to login? <a href="/">Back to home</a></div>
          </form>


          <form class="signup" action="signup/" method="POST">{% csrf_token %}
            <div class="field">
              <input type="text" placeholder="First Name" name="first_name" required>
            </div>

            <div class="field">
              <input type="text" placeholder="Last Name" name="last_name" required>
            </div>

            <div class="field">
              <input type="text" placeholder="Email Address" name="email" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="pswd" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" name="cpswd" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });
    </script>

  </body>
</html>
